<% content_for :title do %>
  <%= @question.title %>
<% end %>

<!-------------------- Main Navbar ------------------>
<% if user_signed_in? %>
    <% if current_user.admin? %>
        <%= render 'shared/nav_admin' %>
    <% else %>
        <%= render 'shared/nav_user' %>
    <% end %>
<% else %>
    <%= render 'shared/nav_public' %>
<% end %>
<!-------------------/ Main Navbar ------------------>

<!------------------- Question Details -------------->
<section class="text-gray-600 body-font">
  <div class="container px-5 pt-2 pb-2 mx-auto flex flex-wrap justify-center">
    <div class="flex flex-wrap -m-4">
      <div class="p-4 lg:w-full md:w-full">
        <div class="flex border-2 rounded-lg border-gray-200 border-opacity-50 p-8 sm:flex-row flex-col">
          <div class="w-16 h-16 sm:mr-8 sm:mb-0 mb-4 inline-flex items-center justify-center rounded-full bg-green-100 text-green-500 flex-shrink-0">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-8 h-8" viewBox="0 0 24 24">
              <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
            </svg>
          </div>
          <div class="flex-grow">
            <h2 class="text-gray-900 text-lg title-font font-medium mb-3"><%= @question.title %></h2>
            <p class="text-sm mb-1 text-gray-400">Asked at <%= @question.created_at.strftime("%B, %d, %Y")%></p>
            <% if @question.body? %>
              <p class="leading-relaxed text-base text-justify"><%= @question.body %></p>
            <% end%>
            <div class="inline px-2 bg-green-100 py-2 shadow">
              <%= link_to questions_path, :class=>"mt-3 text-green-500 inline-flex items-center" do %>
                <i class="far fa-arrow-alt-circle-left mr-1"></i>
                  Back
              <% end %>
            </div>

            <% if current_user && current_user == @question.user || current_user.admin? %>
              <div class="inline px-2 bg-green-100 py-2 shadow">
                <%= link_to edit_question_path, :class=>"mt-3 text-green-500 inline-flex items-center" do %>
                  <i class="fas fa-pencil-alt mr-1"></i>
                  Update
                <% end %>
              </div>

              <div class="inline px-2 bg-green-100 py-2 shadow">
                <%= link_to question_path, method: :delete, data:{confirm:'Are you sure?'}, :class=>"mt-3 text-green-500 inline-flex items-center" do %>
                  <i class="far fa-trash-alt mr-1"></i>
                  Delete
                <% end %>
              </div>

              <div class="inline px-2 bg-green-100 py-2 shadow">
                <%= link_to new_question_path, :class=>"mt-3 text-green-500 inline-flex items-center" do %>
                  New
                  <i class="far fa-arrow-alt-circle-right ml-1"></i>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!------------------/ Question Details -------------->

<!--------------------- Answers --------------------->
<section class="text-gray-600 body-font">
  <div class="container px-5 py-1 mx-auto flex flex-wrap justify-center">
    <div class="flex flex-wrap -m-4 question-answers">
    <% @answers.each do |answer| %>
      <div class="p-4 lg:w-full md:w-full answer_pane">
        <%= render 'answers/answer', answer: answer %>
      </div>
      <% end %>
    </div>
  </div>
</section>
<!--------------------/ Answers --------------------->

<!------------------ Answer Form -------------------->
<section class="text-gray-600 body-font">
  <div class="container px-5 mx-auto flex sm:flex-nowrap flex-wrap">
    <div class="lg:w-full md:w-full bg-white flex flex-col md:ml-auto w-full md:py-1 mt-2 md:mt-0">
      <div class="px-4 answer_pane">
          <%= form_with model: [@question, @answer], remote: true do |f| %>
            <div class="mb-6 pt-3 rounded">
              <%= f.text_area :body,
                label: false,
                placeholder: "Your answer ...",
                class: "bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-purple-600 transition duration-500 px-3 pb-3 pt-3",
                rows: 5
              %>
            </div>
            <div class="mb-6 pt-3 rounded bg-gray-200">
              <%= f.text_field :link,
                label: false,
                placeholder: "Link or Reference",
                class: "bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-purple-600 transition duration-500 px-3 pb-3 pt-3"
              %>
            </div>
            <div class="text-center">
              <%= f.submit "Answer", remote: true, :class=>"w-full text-gray-100 bg-green-500 py-2 px-4 rounded shadow-lg hover:text-white inline-flex items-center justify-center" %>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</section>
<!------------------ Answer Form -------------------->
