<% content_for :title do %>
  Contact
<% end %>
<% provide(:contact_active, 'active') %>
<!-------------------- Main Navbar ------------------>
<% if user_signed_in? %>
    <% if current_user.admin? %>
        <%= render 'shared/nav_admin' %>
    <% else %>
        <%= render 'shared/nav_user' %>
    <% end %>
<% else %>
    <%= render 'shared/nav_public' %>
<% end %>
<!-------------------/ Main Navbar ------------------>

<% if current_user.admin? %>
  <section class="text-gray-600 body-font">
    <div class="container px-5 pt-2 pb-1 mx-auto">
      <div class="flex flex-col w-full">
        <h2 class="text-sm text-center bg-green-100 py-4 shadow text-green-500 tracking-widest font-medium title-font mb-1">
        We have found <%= Contact.all.count %> Contact(s).</h2>
      </div>
    </div>
  </section>
  <section class="text-gray-600 body-font">
  <div class="container px-5 pt-5 pb-1 mx-auto">
    <div class="flex flex-wrap -m-4">
    <% @contacts.each do |contact| %>
      <div class="p-1 lg:w-full">
        <div class="h-full bg-green-100 bg-opacity-75 px-8 pt-5 pb-5 overflow-hidden relative shadow">
        <p class="text-xs text-gray-400"><%= contact.user.name %></p>
          <div class="flex justify-between title-font sm:text-xl text-xl font-medium text-gray-900">
            <div><%= contact.title %></div>
            <div class="text-sm">
              <%= link_to contact, method: :delete, data:{confirm:'Are you sure?'}, :class=>"mt-3 text-green-500 inline-flex items-center" do %>
                  <i class="far fa-trash-alt mr-1"></i>
                  Delete
                <% end %>
            </div>
          </div>
          <p><%= contact.message %></p>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</section>
<% else %>
<% if current_user.contacts.count < 1 %>
  <section class="text-gray-600 body-font">
    <div class="container px-5 pt-2 pb-1 mx-auto">
      <div class="flex flex-col w-full">
        <h2 class="text-sm text-center bg-green-100 py-4 shadow text-green-500 tracking-widest font-medium title-font mb-1">
        We can't find any contact history of you!
      </div>
    </div>
  </section>
<% else %>
  <section class="text-gray-600 body-font">
  <div class="container px-5 pt-5 pb-1 mx-auto">
    <p class="mb-3 pb-1 text-xs">Contact history</p>
    <div class="flex flex-wrap -m-4">
    <% current_user.contacts.each do |contact| %>
      <div class="p-1 lg:w-full">
        <div class="h-full bg-green-100 bg-opacity-75 px-8 pt-5 pb-5 overflow-hidden relative shadow">
          <div class="flex justify-between title-font sm:text-xl text-xl font-medium text-gray-900">
            <div><%= contact.title %></div>
            <div class="text-sm">
              <%= link_to contact, method: :delete, data:{confirm:'Are you sure?'}, :class=>"mt-3 text-green-500 inline-flex items-center" do %>
                  <i class="far fa-trash-alt mr-1"></i>
                  Delete
                <% end %>
            </div>
          </div>
          <p><%= contact.message %></p>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</section>
<% end %>
<section class="text-gray-600 body-font">
  <div class="container px-2 py-1 mx-auto">
    <%= link_to new_contact_path, :class=>"w-full text-gray-600 bg-gray-200 py-2 px-4 rounded shadow-lg hover:text-gray-900 inline-flex items-center justify-center" do %>
      Contact
    <% end %>
  </div>
</div>
<% end %>
