<!-------------------- Card Form ----------------->
<div class="min-h-screen pt-2 md:pt-5 pb-6 px-2 md:px-0" style="font-family:'Lato',sans-serif;">
  <main class="bg-white max-w-3xl mx-auto p-3 md:p-3 my-10 rounded-lg shadow-2xl">
    <section>
      <div>
        <%= link_to cards_path, :class=>"text-sm text-gray-400 hover:text-gray-600" do %>
          <i class="fas fa-angle-left"></i>
          Back
        <% end %>
      </div>
      <h3 class="font-bold text-2xl">Create / Update Card</h3>
    </section>

    <section class="mt-10">
      <%= simple_form_for(@card) do |f| %>
        <div class="mb-6 pt-3 rounded bg-gray-200">
          <label class="block text-gray-700 text-sm font-bold mb-2 ml-3" for="name">Question</label>
          <%= f.input :question,
                label: false,
                error: false,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "question",:class=>"bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-purple-600 transition duration-500 px-3 pb-3" }
          %>
        </div>
        <div class="mb-6 pt-3 rounded bg-gray-200">
          <label class="block text-gray-700 text-sm font-bold mb-2 ml-3" for="name">Answer</label>
          <%= f.input :answer,
                label: false,
                error: false,
                required: true,
                input_html: {:rows=>4, :class=>"bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-purple-600 transition duration-500 px-3 pb-3" }
          %>

          <%= f.association :user, as: :hidden%>
        </div>
        
        <%= f.button :submit,:class=>"w-full bg-purple-600 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded shadow-lg hover:shadow-xl transition duration-200" %>
      <% end %>
    </section>
  </main>
</div>
<!-------------------/ Card Form ----------------->